/* additional styles - use tailwind where possible */
.cta {
    font-family: 'Caveat', cursive;

}

.stone-cards {
    font-family: 'Caveat', cursive;
font-family: 'Kalam', cursive;
}

.slide-label {
    background-color: rgba(23,37,84, 0.7);
}

.nav-down {
    display: inline;
}

.atTop {
    display: none;
}