/* additional styles - use tailwind where possible */

.test {
    width: 300px;
    height: 100px;
    color: gray;
}


.cta {
    font-family: 'Caveat', cursive;

}

.stone-cards {
    font-family: 'Caveat', cursive;
font-family: 'Kalam', cursive;
}