/* additional styles - use tailwind where possible */

body {
    background-color: #F3F5FF;
}


.cta {
    font-family: 'Caveat', cursive;

}

.stone-cards {
    font-family: 'Caveat', cursive;
font-family: 'Kalam', cursive;
}

.slide-label {
    background-color: rgba(23,37,84, 0.7);
}